In [1]:
import pandas as pd
df= pd.read_csv("df_final_experiment_clients.txt", sep=",")

In [2]:
df.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [5]:
df.shape

(70609, 2)

In [9]:
for col in df.select_dtypes(include='object').columns:
        df[col] = df[col].str.strip()

In [11]:
for col in df.select_dtypes(include='object').columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')

C:\Users\ewaki\AppData\Local\Temp\ipykernel_8916\812283547.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

In [13]:
 df=df.drop_duplicates()

In [15]:
df.tail

<bound method NDFrame.tail of        client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]>

In [17]:
df.dropna(subset=["Variation"])

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]